vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
*swtr_seed
build/
.testnets/
**.uuid
vendor
**quote.dat
sgxvm/Enclave_private.pem

# Dynamic libraries
**libsgx_wrapper**
**libsgx_attestation_wrapper**

# Other
**target**
*run.xml*

# Upgrade testing
scripts/upgrade/old/
scripts/upgrade/pid
scripts/upgrade/*.log
scripts/upgrade/.swisstronik*
