[submodule "external/swisstronik.js"]
	path = external/swisstronik.js
	url = https://github.com/SigmaGmbH/swisstronik.js.git
[submodule "external/evm-module"]
	path = external/evm-module
	url = https://github.com/SigmaGmbH/evm-module.git
