name: Build local node docker image

on:
  push:
    tags:
      - "*"
permissions:
  contents: write
  packages: write

jobs:
  docker-local:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          file: ./docker/node.Dockerfile
          build-args: SGX_MODE=SW
          tags: ghcr.io/sigmagmbh/chain:latest,ghcr.io/sigmagmbh/chain:${{ steps.get_version.outputs.version-without-v }}
